@using ConceptArchitect.BookManagement

@model Book
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Update @Model.Title</h2>

@*
<form asp-action="Update" method="POST">

    <label asp-for="@Model.Id" class='form-label'>Id</label>

    <input type='text' name="Id" value="@Model.Id" class='form-control' />


    <label asp-for="@Model.Title" class='form-label'>Title</label>

    <input type='text' name="Title" value="@Model.Title" class='form-control' />




    <label asp-for="@Model.Description" class='form-label'>Description</label>

    <input type='text' name="description" value="@Model.Description" class='form-control' />


    <label asp-for="@Model.Author_Id" class='form-label'>Author_Id</label>

    <input type='text' name="Author_Id" value="@Model.Author_Id" class='form-control' />


    <label asp-for="@Model.Cover_Photo" class='form-label'>Photo</label>

    <input type='text' name="photo" value="@Model.Cover_Photo" class='form-control' />


    <div>

        <input type="submit" value="Update Book" class='btn btn-primary form-control' />

    </div>

</form>




*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <h3>
                @Html.DisplayFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                </h3>
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Author_Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Author_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cover_Photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cover_Photo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cover_Photo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update Book" class='btn btn-primary form-control' />
            </div>
        </div>
    </div>
}