
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ConceptArchitect.BookManagement.Author>


@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<a asp-action="Add" asp-controller="Author" class='btn-secondary btn btn-sm float-right mt-3' style="background-color: lightgreen" ;>Add New</a>


<section class="featured-posts">

	<div class="section-title">
		
		<h2><span>Authors</span></h2>

	</div>



	<div class="card-columns listfeaturedtag">



		@foreach (var author in Model)

		{

			<!-- begin post -->

			<div class="card">

				<div class="row">

					<div class="col-md-5 wrapthumbnail">

						<a href="@Url.Action("details", "author", new { id = author.Id })">

							<div class="thumbnail" style="background-image: url(@author.Photo);">
							</div>

						</a>

					</div>

					<div class="col-md-7">

						<div class="card-block">

							<h2 class="card-title"><a href="@Url.Action("details", "author", new { id = author.Id })">@author.Name</a></h2>

							@*<h2 class="card-title"><a href="">@author.Name</a></h2>*@

							<h4 class="card-text">@author.Biography</h4>

							<div class="metafooter">

								<div class="wrapfooter">
									<span class="meta-footer-thumb">
										@if (!string.IsNullOrEmpty(author.Photo))
										{
											<a><img class="author-thumb" src="@Html.Raw(author.Photo)" alt="@author.Name"></a>
										}
									</span>

									<span class="author-meta">

										<span class="post-name"><a>@author.Email</a></span><br />

									</span>

									
								</div>
								<a asp-action="Update" asp-controller="Author" asp-route-id="@author.Id" class='btn-secondary btn btn-sm  mt-3' style="background-color: lightskyblue;">Update</a>
								<a asp-action="Delete" asp-route-id="@author.Id" class='btn-secondary btn btn-sm  mt-3' style="background-color: coral;">Delete</a>

							</div>

						</div>

					</div>

				</div>

			</div>

			<!-- end post -->
		}

	</div>

</section>


